.hero-container{
    background-image: url(../../assets/sample.gif);
    background-position: top center;
    background-size: cover;
    background-color: black;
    min-height: 70vh;
}

.title-font{
    font-size: 6rem !important;
}