#home{
    margin-bottom: 3rem;
    margin-top: 2rem;
}

.hero-container{
    background-image: url(../../assets/sample3.gif);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(30, 30, 30);
    min-height: 80vh;

    @media screen and (max-width: 600px) {
        background-position: 26%;
    }

    //1080 depends on the size of future gif/3D Model.
    @media screen and (min-width: 1700px) {
        background-size: contain;
      }
}

.title{
    font-size: 7rem;
    font-weight: 800;
}

.subtitle{
    font-size: 2rem;
}