@import "../../../App.scss";

.visitProjectButton_container{
  width: 150px;

  a{
    text-decoration: none;
  }

  .visitProjectButton{
    background-color: transparent;
    border: 1px solid white;
    color: $white;
    border-radius: 0.5rem;
    width: 100%;
  }

  &:hover{
    
    .visitProjectButton{
      color: $light-blue-link;
      transform: scale(110%);
      transition-duration: 0.2s;
      border-color: $light-blue-link;
    }

    .icon {
      * {
        color: $light-blue-link;
      }

      animation-name: arrowSlideRight;
      animation-duration: 0.2s;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
    }
  }
}


@keyframes arrowSlideRight {
  0%{
    transform: translateX(-1rem);
  }

  100%{
    transform: translateX(0rem);
  } 
}