@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins';


.workShowcasePage{
    

    .gallery-image_container{
        p{
            font-weight: 300;
        }
    }

    img{
        width: 100%;
        max-width: 700px;
    }

    .featured-image{
        display: block;
        margin: auto;
    }
}