@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins';
@import "../App.scss";

$panel-block: rgb(37, 37, 37);


.workShowcasePage{
    
    h1{
        font-size: 3rem;
        margin-bottom: 5rem !important;
    }

    p, li{
        font-weight: 300;
        font-size: 1.1rem;
    }

    img{
        width: 100%;
    }

    .work-category{
        font-weight: 300;
    }

    .client_container{
        // border: 1px solid white;
        padding-left: 6%;
    }

    .pill_container{
        background-color: $panel-block;
        border-radius: 0.6rem;
        height: 100%;
    }
}