@import "../../App.scss";
@import "../achievements/Achievements.scss";

$footer-left: #262626;
$footer-right: rgb(18, 18, 18);

@import '../../../node_modules/bootstrap/scss/functions';
@import '../../../node_modules/bootstrap/scss/variables';
@import '../../../node_modules/bootstrap/scss/mixins';

#socials{
    height: 40rem;
    width: 100%;
}

.socials_container{
   background-color: $footer-left;

    h2{
        font-weight: 200;
    }

    ul{
        padding: 0;
    }

    li{
        list-style: none;
        
        &:hover{
            a{
                color: $light-blue-link;
            }
            transform: translateX(10px);
            // transition-duration: 0.5s;
        }
    }

    a{
        text-decoration: none;
        color: white;
        font-weight: 200;
        font-size: 1.5rem;
    }
}

.second_container{
    background-color:$footer-right;

    .image_frame{
        border-radius: 50%;
        overflow: hidden;
        width: 10rem;
        height: 10rem;

        img{
            width: 100%;
        }
    }

    .typography{
        width:100%;
        max-width: 30rem;
    }
   
}

.footer-containers_sizing{
    height: 100%;

    @include media-breakpoint-down(md){
        padding-top: 5rem !important;
        // min-height: 40vh;
    }

    @include media-breakpoint-up(lg){
        padding-top: 5rem !important;
       
    }

    @include media-breakpoint-up(xl){
        padding-left: 7rem !important;
    }

    @include media-breakpoint-up(xxl){
        padding-left: 8% !important;
    }

}