@import "../../App.scss";
$footer-left: #262626;
$footer-right: rgb(24, 24, 24);

@import '../../../node_modules/bootstrap/scss/functions';
@import '../../../node_modules/bootstrap/scss/variables';
@import '../../../node_modules/bootstrap/scss/mixins';

.socials_container{
   background-color: $footer-left;

    @include media-breakpoint-down(md){
        height: 30vh;
    }

    h3{
        font-weight: 200;
    }

    ul{
        padding: 0;
    }

    li{
        list-style: none;
    }

    a{
        text-decoration: none;
        color: white;
        font-weight: 200;
        font-size: 1.2rem;

        &:hover{
            color: orange;
        }
    }
}

.second_container{
    background-color:$footer-right;
   
}

.footer-containers_sizing{

    height: 60vh;

    @include media-breakpoint-down(md){
        height: 30vh;
    }

    @include media-breakpoint-up(xl){
        padding-top: 5rem !important;
        padding-left: 7rem !important;
    }

}