$blue-primary: #26268e;
$blue-panel: #262f56;

.accordionButton{
    display:block;
    width: 100%;
    background-color: $blue-primary;
    border-radius: 5px;
    border: none;
    color: white;
    text-align: left;
;
}

.accordionPanel{
    display: block;
    width: 100%;
    margin-bottom: 0.5rem;
    background-color: rgba($color: $blue-panel, $alpha: 0.6);
    min-height: 6rem;
    border-radius: 10px;
    padding: 1rem;

}

.showAccordion{
    display: block;
}

.hideAccordion{
    display:none
}