$blue-primary: #4f97a8;
$blue-inactive: #3a5f69;
$blue-panel: #2c4c60;

.accordionButton{
    display:block;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: white;
    text-align: left;
}
    
.--btn-active{
    background-color: $blue-primary;
}

.--btn-inactive{
    background-color: $blue-inactive;
}

@keyframes openingIcon {
    from {
        rotate: 0deg;
    } to {
        rotate: 180deg;
    }
}

@keyframes closingIcon {
    from {
        rotate: 180deg;
    } to {
        rotate: 360deg;
    }
}

.--btn-active-icon{
        rotate: 0deg;
        animation-name: openingIcon;
        animation-duration: 0.5s;
        animation-fill-mode: forwards; 
}

.--btn-inactive-icon{
    rotate: 180deg;
    animation-name: closingIcon;
    animation-duration: 0.5s;
    animation-fill-mode: forwards; 
}



.accordionPanel{
    display: block;
    width: 100%;
    margin-bottom: 0.5rem;
    background-color: rgba($color: $blue-panel, $alpha: 0.6);
    min-height: 10rem;
    border-radius: 10px;
    padding: 1rem;
    
}

@keyframes panelFadeIn {
    from {
        opacity: 50%;
        translate: 0 -20%;
    } to {
        opacity: 100%;
        translate: 0%;
    }
    
}

.--showAccordion{
    animation-name: panelFadeIn;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
}

.--hideAccordion{
    display: none !important;
}